@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Raleway{
    font-family: "Raleway"
}
.inter{
    font-family: "Inter"
}
.img{
    border-bottom: 3px solid rgb(29, 209, 0);
}
.img2{
    border-top: 3px solid rgb(29, 209, 0);
}
.seat-count{
    display: flex;
    justify-content: space-around;
}

